block general
  div(class="device" id="device-"+prnt[0].ID+"")
    div.device_header
      div.device_header_title
        if prnt[0].error == 1
          span(class="offline" title="Stampante Offline, i dati risalgono all'ultima connessione")
        else if prnt[0].error == 0
          span(class="online" title="Stampante Online")
        h2.device_header_title_name= prnt[0].name
        h3.device_header_title_model= prnt[0].model
      div.device_header_action
        a(onClick='openPopup('+"'"+'info-'+prnt[0].ID+"'"+')' class="action_btn")
          i.fa.fa-info(aria-hidden='true')
    table.device_table
        tr.device_table_header
            th
            th PAGINE
            th VALORE
            if prnt[1].drum || prnt[2].drum || prnt[3].drum || prnt[4].drum
              th DRUM
            th DATA
            th
              i.fa.fa-archive(aria-hidden='true')
            th
        if prnt[1].pages || prnt[1].percentage || prnt[1].drum || prnt[1].date
          tr.device_table_values
              td
                div.color.ye
              td= prnt[1].pages
              td= prnt[1].percentage + "%"
              if prnt[1].drum
                td= prnt[1].drum + "%"
              if prnt[1].date
                if prnt[1].changed == 1
                  td.changed= prnt[1].date
                else if prnt[1].changed == 2
                  td.death= prnt[1].date
                else
                  td= prnt[1].date
              else
                td= "❌"
              td= prnt[1].stock
              td
                a(onClick='openPopup('+"'"+'yellowtoner-'+prnt[0].ID+"'"+')')
                  i.fa.fa-pencil-square-o(aria-hidden='true')
        if prnt[2].pages || prnt[2].percentage || prnt[2].drum || prnt[2].date
          tr.device_table_values
              td
                div.color.ma
              td= prnt[2].pages
              td= prnt[2].percentage + "%"
              if prnt[2].drum
                td= prnt[2].drum + "%"
              if prnt[2].date
                if prnt[2].changed == 1
                  td.changed= prnt[2].date
                else if prnt[2].changed == 2
                  td.death= prnt[2].date
                else
                  td= prnt[2].date
              else
                td= "❌"
              td= prnt[2].stock
              td
                a(onClick='openPopup('+"'"+'magentatoner-'+prnt[0].ID+"'"+')')
                  i.fa.fa-pencil-square-o(aria-hidden='true')
        if prnt[3].pages || prnt[3].percentage || prnt[3].drum || prnt[3].date
          tr.device_table_values
              td
                div.color.cy
              td= prnt[3].pages
              td= prnt[3].percentage + "%"
              if prnt[3].drum
                td= prnt[3].drum + "%"
              if prnt[3].date
                if prnt[3].changed == 1
                  td.changed= prnt[3].date
                else if prnt[3].changed == 2
                  td.death= prnt[3].date
                else
                  td= prnt[3].date
              else
                td= "❌"
              td= prnt[3].stock
              td
                a(onClick='openPopup('+"'"+'cyantoner-'+prnt[0].ID+"'"+')')
                  i.fa.fa-pencil-square-o(aria-hidden='true')
        if prnt[4].pages || prnt[4].percentage || prnt[4].drum || prnt[4].date
          tr.device_table_values
              td
                div.color.bk
              td= prnt[4].pages
              td= prnt[4].percentage + "%"
              if prnt[4].drum
                td= prnt[4].drum + "%"
              if prnt[4].date
                if prnt[4].changed == 1
                  td.changed= prnt[4].date
                else if prnt[4].changed == 2
                  td.death= prnt[4].date
                else
                  td= prnt[4].date
              else
                td= "❌"
              td= prnt[4].stock
              td
                a(onClick='openPopup('+"'"+'blacktoner-'+prnt[0].ID+"'"+')')
                  i.fa.fa-pencil-square-o(aria-hidden='true')

include ../popups/deviceinfo
include ../popups/updateYellow
include ../popups/updateMagenta
include ../popups/updateCyan
include ../popups/updateBlack