block 477
  div(class="device" id="device-"+prnt[0].ID+"")
    div.device_header
      div.device_header_title
        if prnt[0].error == 1
          span(class="offline" title="Stampante Offline, i dati risalgono all'ultima connessione")
        else if prnt[0].error == 0
          span(class="online" title="Stampante Online")
        h2.device_header_title_name= prnt[0].name
        h3.device_header_title_model= prnt[0].model
      div.device_header_action
        a(onClick='openPopup('+"'"+'info-'+prnt[0].ID+"'"+')' class="action_btn")
          i.fa.fa-info(aria-hidden='true')
    table.device_table
        tr.device_table_header
            th
            th Pag
            th Perc
            th RIC
            th Data
            th Stock
        tr.device_table_values
            td
              div.color.bk
            td= prnt[4].pages
            td= prnt[4].percentage + "%"
            td= prnt[4].drum + "%"
            if prnt[4].changed == 1
              td.warning= prnt[4].date
            else
              td= prnt[4].date
            td= prnt[4].stock

include ../popups/deviceinfo
include ../popups/updateBlack